@{
    ViewBag.Title = "About US";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<article>
    <p>
        Calance is an IT Services firm, providing Application Development & Support, IT Infrastructure Managed Services, pre-defined/pre-built Solutions, and IT Staffing. Operating in the United States and India, we help our clients bring their ideas and strategies to life through talent, technology and tenacity.
    </p>
</article>
