@{
    ViewBag.Title = "Welcome to Calance";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
                Bringing Your Ideas to Life
                Technology.  Operations.  People.  Solutions
            </p>
        </div>
    </section>
}
<h3>We service the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Our Services</h5>
        Woven from the combined talent of our experienced individuals, our services create a canvas of high quality capabilities aimed at innovatively helping our clients meet the evolving technology challenges.
    </li>

    <li class="two">
        <h5>Development</h5>
        Application development and systems integration capabilities covering a wide range of technology platforms from legacy mainframe systems to web and mobile applications.
    </li>

    <li class="three">
        <h5>IT Staffing</h5>
        Experienced account managers and recruiting professionals working to understand client needs and finding talent that will enable client success.
    </li>
</ol>
